/* font style */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* common style */

body{
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    background-color: #FFFFFF;
    margin: 0;
}

/* header style */

.top-banner{
    background-image: url(image/shape/top-banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.mid-banner{
    background-image: url(image/shape/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;
}

header > h1{
    text-align: center;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px #ffc121;
    margin: 0;
    padding-top: 2%;
}

.header-section, .main-section{
    display: flex;
}

.half-width{
    width: 50%;
}

.orange-color{
    color: #fa755e;
}

.info{
    padding: 5% 5% 2% 10%;
}
.info2{
    padding: 5% 5% 2% 0%;
    line-height: 40px;
}
.info > a,.info2 > a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, #FB6756);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.image{
    padding: 2% 5% 2% 10%;
}

.image img{
    height: 500px;
}
